.App {
  display: grid;
  justify-content: center;
  text-align: center;
}
.App-header {
  background-color: #FFF;
  min-height: 100vh;
  /* Changed from Flex to Grid*/
  font-size: calc(10px + 2vmin);
  color: #000;
}

.Button {
  height: 50px;
  width: 100px;
  font-size: 15px;
}
